@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="pull-left">
        <h3>
            Offers List</h3>
    </div>
    <div class="pull-right">
        <button class="btn-up">
            U
        </button>
        <button class="btn-down">
            D
        </button>
    </div>
</div>
<div class="row">
    <div class="pull-left">
        <button id="btnSRNG" class="active btn-srng">
            SRNG
        </button>
        <button id="btnLocal" class="btn-local">
            Local
        </button>
    </div>
    <div class="pull-right">
        <button class="btn-exclusite">
            Set Exclusivity
        </button>
        <button class="btn-search">
            S
        </button>
    </div>
</div>
<div class="row">
    <div class="pull-left">
        <h5>
            Shell Rewards Promotions
        </h5>
    </div>
    <div class="pull-right">
        <a href="#">View Messages</a>
    </div>
</div>
<div class="row">
    <div id="ngGrid">
        <div class="ng-grid" ng-grid="myGrid">
        </div>
    </div>
</div>
<div class="row">
    <div class="pull-right">
        <button class="btn-save">
            Save
        </button>
        <button class="btn-cancel">
            Cancel
        </button>
    </div>
</div>
<br />
<br />
<div id="tabs">
    <ul>
        <li id="liSRNG"><a href="#tabs-1">SRNG</a></li>
        <li id="liLocal"><a href="#tabs-1">Local</a></li>
    </ul>
    <div id="tabs-1">
        <p>
            Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec
            arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante.
            Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper
            leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales
            tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel
            pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum.
            Nunc tristique tempus lectus.</p>
    </div>
</div>
<style type="text/css">
    .active
    {
        background-color: red;
    }
</style>
<script type="text/javascript">

    $(function () {

        $("#tabs").tabs();

        $("#liSRNG").click(function () {
            alert("liSRNG");

        });

        $("#liLocal").click(function () {
            alert("liLocal");
        });

        $("#btnSRNG").click(function () {
            $(this).addClass('active');
            $("#btnLocal").removeClass('active');
            alert("btnSRNG");
        });

        $("#btnLocal").click(function () {
            $(this).addClass('active');
            $("#btnSRNG").removeClass('active');
            alert("btnLocal");
        });

    });

    //Start Basic
    var myAppRoot = angular.module('myApp', ['ngGrid']);

    myAppRoot.controller('myController', function ($scope) {

        //define some object here
        $scope.myData = [{ PriorityId: 1, Priority: '1', PromoType: 'AllQuip', OfferId: 321, Name: 'Car Wash', Description: 'Description', StartDate: '1-Nov-2013', EndDate: '1-Dec-2013', Status: 'Active' },
                    { PriorityId: 2, Priority: '2', PromoType: 'Drive MOP', OfferId: 654, Name: 'Holiday', Description: 'Description', StartDate: '5-Nov-2013', EndDate: '5-Dec-2013', Status: 'InActive' },
                    { PriorityId: 3, Priority: '3', PromoType: 'Dolor', OfferId: 987, Name: 'Member Bonus', Description: 'Description', StartDate: '10-Nov-2013', EndDate: '10-Dec-2013', Status: 'Active' },
                    { PriorityId: 4, Priority: '4', PromoType: 'Odio', OfferId: 741, Name: 'Name of Template', Description: 'Description', StartDate: '15-Nov-2013', EndDate: '15-Dec-2013', Status: 'Pending' },
                    { PriorityId: 5, Priority: '5', PromoType: 'Lupt', OfferId: 852, Name: 'Test Template', Description: 'Description', StartDate: '20-Nov-2013', EndDate: '20-Dec-2013', Status: 'InActive' }
                ];

        $scope.pagingOptions = {
            pageSizes: [10, 20, 30, 40, 50],
            pageSize: 10,
            currentPage: 1
        };

        //now add the above object to your ngGrid
        $scope.myGrid = {
            data: 'myData',
            enablePaging: true,
            showFooter: true,
            showFilter: false,
            enableColumnResize: true,
            //showGroupPanel: true,
            //jqueryUIDraggable: true,
            jqueryUITheme: true
        };
    });
    //End Basic

   

</script>
